/* VARIABLES */
:root {
    --nav-bg: #154360;
    --highlight-blue: #2874a6;
    --page-1-bg: #aed6f1;
    --page-2-bg: #85c1e9;
    --page-3-bg: #5dade2;
    --card-bg: #d5f5e3;
    --btn-bg: #1D4ED8;
    --btn-hover-bg: #3B82F6;
    --highlight-text: #f7f9f9;
    --text-color: #212427;
}

/* GENERAL STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--text-color);
}

/* GLOBAL CONTAINER */
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
}

/* NAVIGATION BAR */
#nav {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}

#nav #logo {
    width: 50px;
    height: 50px;
    /* position: absolute;
    left: 30px; */
    border-radius: 50%;
    background-image: url(/img/foreign-language_7177869.png);
    background-size: cover;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.8);
}

#nav #title-logo {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--highlight-text);
    text-shadow: 0 0 10px rgba(255, 255, 255, .4);
}

#nav #title-logo::before {
    content: "TRADUCTION ONLINE GROUP";
}

#nav #language-picker {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 1rem;
}

#nav #language-picker:focus,
#nav #language-picker:active {
    outline: none;
}

/* MAIN CONTENT */
#content {
    background-color: var(--nav-bg);
    scroll-snap-type: y mandatory;
    overflow-y: visible;
}

/* CUSTOM SCROLLBAR */
#content::-webkit-scrollbar {
    width: 1.5vw;
}

#content::-webkit-scrollbar-track {
    background-color: var(--nav-bg);
    border-radius: 20px;
}

#content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

/* MAIN CONTENT PAGES COMMON STYLES */
#page-1, #page-2, #page-3 {
    height: calc(100vh - 80px);
    scroll-snap-align: start;
    padding: 16px;
}

/* PAGE 1 */
#page-1 {
    background-color: var(--page-1-bg);
    font-size: 1.25rem;
}

#page-1 #row {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}

#page-1 #row #col-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#page-1 #row #col-1 #title-bold {
    width: 100%;
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

#page-1 #row #col-1 #title-bold span {
    display: block;
}

#page-1 #row #col-1 p {
    margin-bottom: 32px;
    text-align: justify;
}

#page-1 #row #col-1 p span {
    display: block;
}

#page-1 #row #col-1 button#contact-us {
    background-color: var(--btn-bg);
    border: none;
    border-radius: .25rem;
    color: var(--highlight-text);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1.5rem;
    padding-inline: 1.5rem;
    width: 12rem;
    height: 3rem;
    block-size: 3rem;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color .5s ease;
}

#page-1 #row #col-1 button#contact-us:hover,
#page-1 #row #col-1 button#contact-us:focus {
    background-color: var(--btn-hover-bg);
    outline: none;
}

#page-1 #row #col-2 {
    flex: 1;
    position: relative;
}

#page-1 #row #col-2 .flag {
    width: 120px;
    aspect-ratio: 3 / 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 60px 170px;
    overflow: hidden;
}

#page-1 #row #col-2 .flag img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#page-1 #row #col-2 #flag-english {
    transform: translateX(-50%) translateY(calc(-50% - 100px));
}

#page-1 #row #col-2 #flag-arabic {
    transform: translateX(-50%) translateY(calc(-50% - 100px)) rotate(calc(72deg * 1));
}

#page-1 #row #col-2 #flag-french {
    transform: translateX(-50%) translateY(calc(-50% - 100px)) rotate(calc(72deg * 2));
}

#page-1 #row #col-2 #flag-spanish {
    transform: translateX(-50%) translateY(calc(-50% - 100px)) rotate(calc(72deg * 3));
}

#page-1 #row #col-2 #flag-german {
    transform: translateX(-50%) translateY(calc(-50% - 100px)) rotate(calc(72deg * 4));
}

/* PAGE 2 */
#page-2 {
    background-color: var(--page-2-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#page-2 .card {
    width: 25vw;
    height: calc(100vh - 80px - 20%);
    background-color: var(--card-bg);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 0 32px rgba(255, 255, 255, 0.6);
}

#page-2 .card .card-title {
    font-size: 1.2rem;
    font-weight: bolder;
    height: 5rem;
    text-align: center;
    margin-bottom: 16px;
}

#page-2 .card .card-details {
    line-height: 1.5rem;
}

#page-2 .card .card-details ul {
    list-style-type: disc;
}

#page-2 .card .card-details ul li::before {
    content: '> ';
    margin-right: 16px;
}

#page-2 .card:nth-child(3) .card-details ul li:nth-child(1)::before {
    content: '';
    margin-right: 0;
}

/* PAGE 3 */
#page-3 {
    background-color: var(--page-3-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

#page-3 #contact-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}

#page-3 #contact-us-info-container {
    flex: 1;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-3 #contact-us-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(1fr, 3);
    row-gap: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

#page-3 #contact-us-info .icon {
    width: 40px;
    height: 40px;
}

#page-3 #contact-us-info #icon-gps {
    background-image: url(/img/gps.png);
    background-size: cover;
}

#page-3 #contact-us-info #icon-phone {
    background-image: url(/img/call.png);
    background-size: cover;
}

#page-3 #contact-us-info #icon-email {
    background-image: url(/img/email.png);
    background-size: cover;
}

#page-3 #contact-us-info .text {
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
}

#page-3 button#go-to-top {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    z-index: 999;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: none;
    background-image: url(/img/up-arrows.png);
    background-size: cover;
    transition: background-color .5s ease;
}

#page-3 button#go-to-top:hover,
#page-3 button#go-to-top:focus,
#page-3 button#go-to-top:active {
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
}

/* ========== RESPONSIVE ========== */
@media screen and (max-width: 768px) {
    #nav {
        height: 80px;
    }
    
    #nav #title-logo::before {
        content: "T O G";
    }

    #content {
        scroll-snap-type: none;
    }

    #page-1,
    #page-2,
    #page-3 {
        min-height: calc(100vh - 80px);
        height: fit-content;
    }

    #page-1 #row {
        flex-direction: column;
    }

    #page-1 #row #col-1 #title-bold {
        height: fit-content;
        text-align: center;
    }

    #page-1 #row #col-1 #title-bold span {
        text-align: center;
    }

    #page-1 #row #col-1 button#contact-us {
        align-self: center;
    }

    #page-1 #row #col-2 {
        min-height: 450px;
        height: fit-content;
    }

    #page-2 {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    #page-2 .card {
        width: 70vw;
    }

    #page-3 #contact-us-info-container {
        width: 90vw;
    }
    
    #page-3 #contact-us-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #page-3 #contact-us-info .text {
        margin-bottom: 50px;
        font-size: 1.4rem;
        text-align: center;
    }
}
